[submodule "odin-data"]
	path = odin-data
	url = https://github.com/odin-detector/odin-data.git
	branch = systemtest
[submodule "excalibur-detector"]
	path = excalibur-detector
	url = https://github.com/dls-controls/excalibur-detector.git
	branch = systemtest
